@import "tailwindcss";

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #272b3b transparent;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #272b3b;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3e445b;
  }
}
